@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

/* body  {
    scrollbar-gutter: stable both-edge;
} */

/* body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border-right: solid 3px #151D26;
} */
